.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    margin: 6rem 20vw;
}

.container__secao {
    color: var(--cor-botao);
    font-weight: 600;
}

.container__titulo {
    font-size: 3rem;
    font-weight: 600;
}

.container__texto {
    font-size: 1.2rem;
    color: var(--cor-texto);
    line-height: 1.8rem;
}

.container__metricas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.container__metricas__box {
    width: 25%;
    padding: 2rem;
}

.container__metricas__titulo {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 4.5rem;
    color: var(--cor-botao);
}

.container__metricas__subtitulo {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.container__metricas__paragrafo {
    color: var(--cor-texto);
    line-height: 1.5rem;
}

.container__vagas {
    margin: 6rem 8vw 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container__vagas__anuncio {
    padding: 0.25rem 0.75rem;
    border-radius: 2in;
    background-color: rgba(142, 36, 36, 0.05);
    line-height: 1.2rem;
    color: var(--cor-botao);
    margin: auto;
    font-weight: 500;
}

.container__vagas__titulo {
    font-weight: 600;
    font-size: 2.25rem;
    padding: 1.2rem;
}

.container__imagem{
    margin: 4rem 0;
}