:root {
    --cor-titulo: #101828;
    --cor-texto: #667085;
    --cor-principal: #3A404E;
    --cor-botao: #8E2424;
    --cor-link: #667085;
    --branco: #ffffff;

    --fonte-principal: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    margin: 6rem 20vw;
}

.container__secao {
    color: var(--cor-botao);
    font-weight: 600;
}

.container__titulo {
    font-size: 3rem;
    font-weight: 600;
    color: var(--cor-titulo);
}

.container__texto {
    font-size: 1.2rem;
    color: var(--cor-texto);
    line-height: 1.8rem;
}